extends ../layouts/layout.pug
block contenido
    style.
        .badge {
            font-size: 16px;
        }
        
        body {
            background-color: #e9ecef;
        }

        input {
            -webkit-appearance:listbox}
        }
    script.
        $(document).ready( function(){
            $('#products').DataTable();

          
            $('#entradas').on('dblclick', function(){
                $alert('test');
            })

            $('#pUtilidad').on('keyup', function(){
                var utilidad = (parseFloat($('#costo').val()) * (parseFloat(this.value) / 100)).toFixed(2)
                $('#pVenta').val((parseFloat(utilidad) + parseFloat($('#costo').val())).toFixed(2));
                $('#utilidad').val((parseFloat(utilidad)).toFixed(2));
            });
        });
    label(style="font-size: 1.5em") Inventario
    .divider(style="margin-bottom: 20px;")
    .text-right(style="margin-bottom: 25px;") 
        div.btn-group
            a(href="#o").btn.btn-primary.disabled
                i.fas.fa-file-pdf
                |   Reportes
    .card
        .card-tittle
        .card-body.table-color-new
            table#products.table.table-hover
                thead
                    th.text-center
                        i(style="color: gray;").fas.fa-cog
                    th Tipo
                    th Descripción   
                    th Stock
                    th Entrada
                tbody
                    each p in inventarios
                        tr.table-metadata(scope="row")
                            td.text-center
                                div.btn-group.table-icons
                                    //- input.type=button 
                                    button(onClick="guardarItemTable()") GO
                                    a(href="#o" ,action=`/inventarios/actualizar/${p.id}?_method=put` data-toggle="tooltip", data-placement="top", title="Editar" style="background-color:white;").btn
                                        i(style="color: gray;").fas.fa-pencil-alt
                                    a(href="/inventarios/eliminar/" + p.id, data-toggle="tooltip", data-placement="top", title="Eliminar").btn.btn-danger
                                        i(style="color: white;").fas.fa-trash-alt
                            td #{ p.tipo }
                            td #{ p.descripcion }
                            td #{ p.stock }
                            td 
                                .input-group
                                    input#entradas.form-control(required type="text" name="entradas" value=p.entradas placeholder="entradas")                       