extends ../layouts/layout.pug
block contenido
    style.
        .badge {
            font-size: 16px;
        }
        
        body {
            background-color: #e9ecef;
        }

        input {
            -webkit-appearance:listbox}
        }
    script.
        $(document).ready( function(){
            $('#products').DataTable();
        });
    label(style="font-size: 1.5em") Administrar Productos
    .divider(style="margin-bottom: 20px;")
    .text-right(style="margin-bottom: 25px;") 
        div.btn-group
            a(href="/productos/nuevo").btn.btn-primary
                i.fas.fa-plus-circle
                |   Nuevo
            a(href="#o").btn.btn-primary.disabled
                i.fas.fa-file-pdf
                |   Reportes
    .card
        .card-tittle
        .card-body.table-color-new
            table#products.table.table-hover
                thead
                    th.text-center
                        i(style="color: gray;").fas.fa-cog
                    th Código
                    th Descripción   
                    th Costo
                    th Utilidad
                    th % Utilidad
                    th Precio Venta
                    th Existencia
                    th Mínimo
                    th Máximo
                tbody
                    each p in productos
                        tr.table-metadata(scope="row")
                            td.text-center
                                div.btn-group.table-icons
                                    a(href="/productos/editar/" + p.id , data-toggle="tooltip", data-placement="top", title="Editar" style="background-color:white;").btn
                                        i(style="color: gray;").fas.fa-pencil-alt
                                    a(href="/productos/eliminar/" + p.id, data-toggle="tooltip", data-placement="top", title="Eliminar").btn.btn-danger
                                        i(style="color: white;").fas.fa-trash-alt
                                    //- a(href="/#").btn.btn-primary.disabled
                                    //-     i(style="color: white;").fas.fa-cart-plus
                            td.text-center
                                label.badge.badge-dark #{ p.codigo }
                            td #{ p.descripcion }
                            td $ #{ parseFloat(p.costo).toFixed(2) }
                            td $ #{ parseFloat(p.utilidad).toFixed(2) }
                            td #{ parseFloat(p.pUtilidad).toFixed(2) } %
                            td $ #{ parseFloat(p.pVenta).toFixed(2) }

                            if (parseFloat(p.existencia) < parseFloat(p.minimo))
                                td 
                                    i.fas.fa-spinner.fa-pulse.text-danger
                                    span(style="margin-left: 5px;").badge.badge-danger #{ parseFloat(p.existencia).toFixed(2) }
                            else 
                                td
                                    span.badge.badge-success #{ parseFloat(p.existencia).toFixed(2) }
                            td #{ parseFloat(p.minimo).toFixed(2) }
                            td #{parseFloat( p.maximo).toFixed(2) }
                            