extends ../layouts/layout.pug
block contenido
    style.
        label {
            font-weight: 700;
        }
    script.
        $(document).ready( function(){

            // Asignar precio en base a utilidad al 15%.
            $('#costo').on('keyup', function(){
                $('#pVenta').val((parseFloat(this.value) * 1.15).toFixed(2));
                $('#utilidad').val((parseFloat($('#pVenta').val()) - parseFloat(this.value)).toFixed(2));
                $('#pUtilidad').val(15.00);                
            });

            // Asignar valor de inventario en base a existencia
            $('#existencia').on('keyup', function(){
                $('#vInventario').val((parseFloat(this.value) * parseFloat($('#costo').val())).toFixed(2))
            });

            $('#pVenta').on('keyup', function(){
                $('#utilidad').val((parseFloat(this.value) - parseFloat($('#costo').val())).toFixed(2));
                var utilidad = ((parseFloat( $('#utilidad').val()) * 100) / parseFloat($('#costo').val())).toFixed(2);
                $('#pUtilidad').val(utilidad);
            });

            // Asignar precio de venta en base a utilidad
            $('#pUtilidad').on('keyup', function(){
                var utilidad = (parseFloat($('#costo').val()) * (parseFloat(this.value) / 100)).toFixed(2)
                $('#pVenta').val((parseFloat(utilidad) + parseFloat($('#costo').val())).toFixed(2));
                $('#utilidad').val((parseFloat(utilidad)).toFixed(2));
            });
        });

    label(style="font-size: 1.5em") Editar servicio
    .divider(style="margin-bottom: 20px;")
    form(role="form" method="post" action=`/servicios/actualizar/${servicio.id}?_method=put`)
        label Generales
        .row
            .col-lg-3
                .form-group
                    label | C贸digo
                    .input-group
                        input.form-control(required type="text" name="codigo" value=servicio.codigo placeholder="C贸digo" tabindex="1")
            .col-lg-7
                .form-group
                    label | Descripci贸n
                    .input-group
                        input.form-control(required type="text" name="descripcion" value=servicio.descripcion placeholder="Descripci贸n" tabindex="2")
        .row
            .col-lg-3
                .form-group
                    label | Costo
                    .input-group
                        input#costo.form-control(required type="text" name="costo" value=servicio.costo placeholder="Precio Unitario" tabindex="4")
            .col-lg-3
                .form-group
                    label | Precio Venta
                    .input-group
                        input#pVenta.form-control(type="text" name="pVenta" value=servicio.pVenta placeholder="Precio Venta")
            .col-lg-3
                .form-group
                    label | Utilidad
                    .input-group
                        input#utilidad.form-control(type="text" name="utilidad" value=servicio.utilidad placeholder="Utilidad")
            .col-lg-3
                .form-group
                    label | % Utilidad
                    .input-group
                        input#pUtilidad.form-control(type="text" name="pUtilidad" value=servicio.pUtilidad placeholder="% Utilidad")
        .divider(style="margin-bottom: 20px; margin-top: 20px;")
        .row
            .col-lg-2.align-self-end.ml-auto
                .form-group
                    .input-group
                        input(type="submit" value="Actualizar" tabindex="7").btn.btn-success.form-control